@page "/"
@using LaikaSFS.Website.Models.Menu
@using LaikaSFS.Website.Components

<PageTitle>ACSS</PageTitle>

<center><h1>ACSS</h1></center>
<center><h2>SFS Planet Pack</h2></center>
<center><h3>Version 1.2.3 (SFS 1.5.6+)</h3></center>

<center>
    <button type="button" class="btn btn-dark" @onclick="DownloadFileFromURL">
        Download Complete Pack
    </button>
</center>

@if (Environment.IsDevelopment() && !_filesLoading)
{
    <p>
        <label>
            Upload
            <InputFile OnChange="LoadFiles" multiple />
        </label>
    </p>
}
else if (Environment.IsDevelopment() && _filesLoading) {
    <p>
        <label>
            Loading...
        </label>
    </p>
}

<p>Custom Selection:</p>

<button type="button" class="btn btn-dark" @onclick="DownloadCustomZip">
    Download Custom Pack
</button>

@if (Menu != null)
{
    <ul>
        <li>
            <span>Objects</span>
            @if (Menu.Items != null && Menu.Items.Any() && Menu.IsExpanded)
            {
                <ul class="nested active">
                    @foreach (MenuItem menuItem in Menu.Items)
                    {
                        <li>
                            <ListItem MenuItem="@menuItem"/>
                        </li>
                    }
                </ul>
            }
        </li>
    </ul>
}
