@inherits LayoutComponentBase

<PageTitle>Laika SFS</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>Resources:</span>
            <a class="link-light" href="https://spaceflight-simulator.fandom.com/wiki/Spaceflight_Simulator_Wiki" target="_blank">Wiki</a>
            <a class="link-light" href="https://jmnet.one/sfs/forum/index.php?threads/actually-complete-solar-system-acss-release-thread.3141/" target="_blank">Forum</a>
            <a class="link-light" href="https://github.com/laika-sfs/acss/issues" target="_blank">Issues</a>
            <a class="link-light" href="https://github.com/laika-sfs/acss" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
